[submodule "app-text/po4a"]
	path = app-text/po4a
	url = https://github.com/kentnl-gentoo/po4a.git
[submodule "dev-perl/AnyEvent"]
	path = dev-perl/AnyEvent
	url = https://github.com/kentnl-gentoo/AnyEvent.git
