[submodule "app-text/po4a"]
	path = app-text/po4a
	url = https://github.com/kentnl-gentoo/po4a.git
[submodule "dev-perl/AnyEvent"]
	path = dev-perl/AnyEvent
	url = https://github.com/kentnl-gentoo/AnyEvent.git
[submodule "dev-perl/Authen-PAM"]
	path = dev-perl/Authen-PAM
	url = https://github.com/kentnl-gentoo/Authen-PAM.git
[submodule "dev-perl/Acme-Damn"]
	path = dev-perl/Acme-Damn
	url = https://github.com/kentnl-gentoo/perl-Acme-Damn.git
[submodule "dev-perl/Alien-SDL"]
	path = dev-perl/Alien-SDL
	url = https://github.com/kentnl-gentoo/Alien-SDL
[submodule "dev-perl/AnyMoose"]
	path = dev-perl/AnyMoose
	url = https://github.com/kentnl-gentoo/Any-Moose.git
[submodule "dev-perl/App-perlbrew"]
	path = dev-perl/App-perlbrew
	url = https://github.com/kentnl-gentoo/App-perlbrew.git
[submodule "dev-perl/BerkeleyDB"]
	path = dev-perl/BerkeleyDB
	url = https://github.com/kentnl-gentoo/BerkeleyDB.git
[submodule "dev-perl/Bio-SamTools"]
	path = dev-perl/Bio-SamTools
	url = https://github.com/kentnl-gentoo/Bio-SamTools.git
[submodule "dev-perl/Convert-Binary-C"]
	path = dev-perl/Convert-Binary-C
	url = https://github.com/kentnl-gentoo/Convert-Binary-C.git
[submodule "dev-perl/Crypt-SSLeay"]
	path = dev-perl/Crypt-SSLeay
	url = https://github.com/kentnl-gentoo/Crypt-SSLeay.git
[submodule "dev-perl/Crypt-Twofish"]
	path = dev-perl/Crypt-Twofish
	url = https://github.com/kentnl-gentoo/Crypt-Twofish.git
[submodule "dev-perl/Cache-Memcached-Fast"]
	path = dev-perl/Cache-Memcached-Fast
	url = https://github.com/kentnl-gentoo/Cache-Memcached-Fast.git
